h1
{
    font-size: 1.8em;
}

h2
{
    font-size: 1.8em;
}
.article
{
    font-size: 1.7em;
    background-color: gray;

}
.resumer
{
    background-color: gray;
    font-size: 1.7em;
}